*{

	font-family: Courier;	
}



html{	
  width: 100%;
}

.subheading{
	font-size: 15px;
	color: whitesmoke;
}

.jobTitle{
   margin-top:0px;
}

.contact-icons{
font-size: 50px;
}

.prof-box{
	width: 400px;
	height: 400px;
	color: white;
	margin: 0 auto;
	text-align:center;
}


.prof-pic{
	border-radius: 50%;
	height:250px;
	width:250px;
}

h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
	text-align: center

}



p{
 font-weight: 200;
 letter-spacing: 1;

}



body, html{ height: 100%;}
body {
	padding-top: 50px;
}




.container {

	width: 100%;

}

.contact-icons{
	vertical-align: middle;
	color:white;
}


#landing-title{
	font-size: 50
}

#home {
	height: 100%;
	background:url(img/background.jpeg) no-repeat center center fixed ; 
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:"Helvetica Neue", sans-serif;
	text-align: center;
	opacity: 0.7;
	



}


#about{

	height: 100%;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:"Helvetica Neue", sans-serif;
	text-align: center;
	margin: 0 auto; 
	




}

#projects {
height: 100%;
	background:url(img/research-background.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:"Helvetica Neue", sans-serif;
	width: 100%;

}

#contact-me{
color: white;

}
#contact {
	background:url(img/contact-background.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:"Helvetica Neue", sans-serif;
	width: 100%;
	text-align: center;
	color: white;
	
}


.site-footer {
  background: white;
}


#footer1{
text-align: center;

}


	/*Horiztonally and vertically centering content"*/
 /*   text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}*/
/*.jumbotron{
	background-color: #FF5722;
}*/
/*.albert {
	Horizontally centering the albert image
	margin-left: auto;
	margin-right: auto;*/
/*}
.landing-title {
	font-size: 80px;
	color: white;*/
/*}

h1,h2,h3,h4,h6{

	color:white;

}*/